body, html {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; 
    height: 100%;
    background: #AAA;
    font-size: 18px;
    font-family: vga;
    cursor: default;
}
.wrap {
    max-width: 700px;
    margin: 0px auto;
    color: #FFF;
    position: relative;
    overflow: hidden;
}
#terminal {
    background: #000;
    color: #AAA;
    display: none;
}
.yellow { color: #FFFF55;}
.title {
    background: #0000FF;
    color: #FFF;
    position: relative;
    text-align: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 0px 1px #55FF55, 0px 0px 0px 5px #0000FF, 10px 10px 0px 5px rgba(49, 49, 49, 0.92);
}
.container {
    margin: 15px;
    float: left;
    padding: 15px;
    color: #FFF;
    background: #0000FF;
    box-shadow: 0px 0px 0px 1px #55FF55, 0px 0px 0px 5px #0000FF, 10px 10px 0px 5px rgba(49, 49, 49, 0.92);  
}
.container-type2 {
    background: #a00;
    box-shadow: 0px 0px 0px 1px #aaa, 0px 0px 0px 5px #a00, 10px 10px 0px 5px rgba(49, 49, 49, 0.92);  
}

.container ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
}
.container li {
    cursor: pointer;
}
.container li a {
    text-decoration: none;
    color: inherit;
}
.container li:hover {
    background: green;
}
.footer {
    position: fixed;
    bottom: 0px;
    color: #000;
}
.terminal {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 0px;
    resize: none;
    margin: 15px;
    background: none;
    border: none;
    outline: none;
    font-family: vga;
    color: #AAA;
    font-size: 1.2em;
}
#flickrImg {
    background: #000;
    overflow: auto;
    color: #FFF;
    padding: 0px 0px 0px 15px;
}
#flickrImg .item {
    height: 150px;
    margin: 0px 15px 10px 0px;
    min-width: 150px;
    object-fit: cover;    
}

img {
    max-width: 640px;
}


@font-face {
    font-family: vga;
    src: url(vga.ttf);
}

